In [ ]:
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()
from pyspark.sql.functions import *

In [ ]:
df = spark.read.csv("/workspaces/DE-Project-Repo-Durga/data/loan.csv", inferSchema = True, header = True)
df.printSchema()

In [ ]:
import pyarrow as pa
import pyspark.pandas as ps

In [10]:
df = ps.read_csv("/workspaces/DE-Project-Repo-Durga/data/loan.csv")
df.head()

  Customer_ID  Age  Gender    Occupation Marital Status  Family Size  Income  Expenditure  Use Frequency Loan Category  Loan Amount  Overdue  Debt Record   Returned Cheque   Dishonour of Bill
0     IB14001   30    MALE  BANK MANAGER         SINGLE            4   50000        22199              6       HOUSING   10,00,000         5       42,898                 6                   9
1     IB14008   44    MALE     PROFESSOR        MARRIED            6   51000        19999              4      SHOPPING       50,000        3       33,999                 1                   5
2     IB14012   30  FEMALE       DENTIST         SINGLE            3   58450        27675              5    TRAVELLING       75,000        6       20,876                 3                   1
3     IB14018   29    MALE       TEACHER        MARRIED            5   45767        12787              3     GOLD LOAN    6,00,000         7       11,000                 0                   4
4     IB14022   34    MALE        POLICE         SINGLE            4   43521        11999              3    AUTOMOBILE    2,00,000         2       43,898                 1                   2

In [11]:
df.dtypes

Customer_ID           object
Age                    int32
Gender                object
Occupation            object
Marital Status        object
Family Size            int32
Income                 int32
Expenditure            int32
Use Frequency          int32
Loan Category         object
Loan Amount           object
Overdue                int32
 Debt Record          object
 Returned Cheque       int32
 Dishonour of Bill     int32
dtype: object