In [1]:
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()
from pyspark.sql.functions import *

22/09/18 00:01:46 WARN Utils: Your hostname, codespaces-a3c1af resolves to a loopback address: 127.0.0.1; using 172.16.5.4 instead (on interface eth0)
22/09/18 00:01:46 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/09/18 00:01:47 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [2]:
df = spark.read.csv("/workspaces/DE-Project-Repo-Durga/data/loan.csv", inferSchema = True, header = True)
df.printSchema()

root
 |-- Customer_ID: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Occupation: string (nullable = true)
 |-- Marital Status: string (nullable = true)
 |-- Family Size: integer (nullable = true)
 |-- Income: integer (nullable = true)
 |-- Expenditure: integer (nullable = true)
 |-- Use Frequency: integer (nullable = true)
 |-- Loan Category: string (nullable = true)
 |-- Loan Amount: string (nullable = true)
 |-- Overdue: integer (nullable = true)
 |--  Debt Record: string (nullable = true)
 |--  Returned Cheque: integer (nullable = true)
 |--  Dishonour of Bill: integer (nullable = true)

In [3]:
import pyarrow as pa
import pyspark.pandas as ps

WARNING:root:'PYARROW_IGNORE_TIMEZONE' environment variable was not set. It is required to set this environment variable to '1' in both driver and executor sides if you use pyarrow>=2.0.0. pandas-on-Spark will set it for you but it does not work if there is a Spark context already launched.

In [4]:
df = ps.read_csv("/workspaces/DE-Project-Repo-Durga/data/loan.csv")
df.head()

/home/vscode/.local/lib/python3.10/site-packages/pyspark/pandas/utils.py:975: PandasAPIOnSparkAdviceWarning: If `index_col` is not specified for `read_csv`, the default index is attached which can cause additional overhead.
  warnings.warn(message, PandasAPIOnSparkAdviceWarning)

  Customer_ID  Age  Gender    Occupation Marital Status  Family Size  Income  Expenditure  Use Frequency Loan Category  Loan Amount  Overdue  Debt Record   Returned Cheque   Dishonour of Bill
0     IB14001   30    MALE  BANK MANAGER         SINGLE            4   50000        22199              6       HOUSING   10,00,000         5       42,898                 6                   9
1     IB14008   44    MALE     PROFESSOR        MARRIED            6   51000        19999              4      SHOPPING       50,000        3       33,999                 1                   5
2     IB14012   30  FEMALE       DENTIST         SINGLE            3   58450        27675              5    TRAVELLING       75,000        6       20,876                 3                   1
3     IB14018   29    MALE       TEACHER        MARRIED            5   45767        12787              3     GOLD LOAN    6,00,000         7       11,000                 0                   4
4     IB14022   34    MALE        POLICE         SINGLE            4   43521        11999              3    AUTOMOBILE    2,00,000         2       43,898                 1                   2

In [5]:
df.dtypes

Customer_ID           object
Age                    int32
Gender                object
Occupation            object
Marital Status        object
Family Size            int32
Income                 int32
Expenditure            int32
Use Frequency          int32
Loan Category         object
Loan Amount           object
Overdue                int32
 Debt Record          object
 Returned Cheque       int32
 Dishonour of Bill     int32
dtype: object

In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

22/09/17 23:24:16 WARN Utils: Your hostname, codespaces-a3c1af resolves to a loopback address: 127.0.0.1; using 172.16.5.4 instead (on interface eth0)
22/09/17 23:24:16 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/09/17 23:24:17 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

ModuleNotFoundError: No module named 'databricks'